<?php

namespace Magazinera;


class MagazineraConfig
{
    // export
    const SM_DB = "firebird:host=localhost;dbname=C:\\S-Market\\DBase\\SMARKET.FDB;charset=win1251";
    const SM_IMG_DB = "firebird:host=localhost;dbname=C:\\S-Market\\DBase\\SMarketImage.fdb;charset=win1251";
    const SM_DB_USER = "sysdba";
    const SM_DB_PASS = "masterkey";
    const SAVE_IMG_DIR = "data/img";
    const SAVE_JSON_DIR = "data/json";
    const TYPE_CLASSIF = 0;
    const UPLOAD_URL = "http://domain.com/upload/url";
    const ARCHIEVE = "data.tar";
    const PRICE_KIND = 0;
    const CLASSIF_TYPE = 0;
    const PLACE_INDEX = 1;

    // import
    const OCS_DB = "mysql:host=localhost;dbname=dbname;charset=utf8";
    const OCS_DB_USER = "root";
    const OCS_DB_PASS = "password";
    const IMP_JSON_DIR = "../somepath/data/json";
    const OCS_IMG_PATH = "catalog/";
}